@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./assets/icons/css/all.min.css');

@layer base {
	.position-center {
		@apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
	}

	.btn.MuiButton-root {
		@apply rounded-full normal-case;
	}

	.btn.MuiButton-sizeMedium {
		@apply h-10 px-5;
	}

	/* For Webkit-based browsers (Chrome, Safari and Opera) */
	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	/* For IE, Edge and Firefox */
	.scrollbar-hide {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.custom .ce-block__content {
		@apply max-w-[700px];
	}

	@font-face {
		font-family: 'A-font';
		src: url('./assets/fonts/SF-Pro-Display-Regular.otf');
		font-weight: 400;
	}
	@font-face {
		font-family: 'A-font';
		src: url('./assets/fonts/SF-Pro-Display-Thin.otf');
		font-weight: 100;
	}
	@font-face {
		font-family: 'A-font';
		src: url('./assets/fonts/SF-Pro-Display-Bold.otf');
		font-weight: 700;
	}

	html {
		font-family: 'A-font';
		font-weight: 400;
		line-height: 1.3333;
		-webkit-tap-highlight-color: transparent;
	}
}

.MuiPaper-root.MuiPaper-rounded {
	border-radius: 12px;
}

.custom .codex-editor__redactor {
	padding-bottom: 0px !important;
}
