@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./assets/icons/css/all.min.css');

@layer base {
	.position-center {
		@apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
	}
}

h2.ce-header {
	font-size: 24px;
	font-weight: 700;
}

html {
	font-family: 'Roboto';
}
